html {
	--bgcolor: none;
	--colorPrimary: #000;
}

body {
	margin: 0;
	background-color: var(--bgcolor);
	font-family: 'IBM Plex Sans', sans-serif;
}

.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.no-data {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 10px;
	text-align: center;
	color: var(--colorPrimary);
}

.pokemon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.all-pokemons {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
